body{
    height:100%;
    width:100%;
}
.gallery{
    z-index:100;
    position:relative;
    background: url(/resources/img/startpage.jpg) no-repeat center center ;
    height:100vh;
    width:auto;
}
.order{
    padding:30px 100px 30px 50px;
    z-index: 400;
    background-color: rgba(122, 127, 135,0.7); 
    position:absolute;
    top:30%;
   
    p{
        text-align:center;
        font-family: "Poiret One";
        color:white;
        font-size:30px;
    }
    #buttons{
        text-align:center;
    }
    a{
        appearance: button;
        text-decoration: none;
        padding:5px 10px 5px 10px;
        background: none;
        border: 2px solid white;
        color: white;
        font-size:30px;
        margin-right:10px;
        margin-top:10px;
        transition:.5s;
    }
    a:hover{
        background-color:white;
        color:darkslategray;
    }
}
#terranova{
    font-family: "Poiret One";
    font-size:70px;
    
    }