body{
    background:linear-gradient(to right, rgba(228,247,220,1) 0%, rgba(146,168,149,1) 100%);
    position:relative;
    height:100%;
    width:100%;
    overflow: hidden;
}

.registerblock{
   
    background-color:rgba(125, 128, 132,0.2);
    position:fixed; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    overflow:auto;
}
p{
    text-align:center;
    font-family: "Poiret One";
    color:white;
    font-size:50px;
}
.buttons{
        text-align:center;
    }
button{
    padding:5px 30px 5px 30px;
    background: none;
    border: 2px solid white;
    color: white;
    font-size:30px;
    transition:.5s;
    }
button:hover{
    background-color:white;
    color:darkslategray;
}
label{
    color:white;
    text-transform: uppercase;
    font-family:"Poiret One";
    font-size:18px;
}