<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCExample:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMVCExample.war">
      <element id="artifact" artifact-name="SpringMVCExample:war exploded" />
    </root>
  </artifact>
</component>